## Reto 5: Limpiando un dataset

### 1. Objetivos:
    - Aplicar todo lo que aprendimos el día de hoy a un dataset real
 
---
    
### 2. Desarrollo:

#### a) Limpieza de datos en el mundo real

Hasta ahora hemos estado realizando ejercicios con datasets dummy (falsos). Ahora vamos a aplicar todo lo que hemos aprendido el día de hoy a un dataset real.

El dataset se encuentra en la carpeta [Datasets](../../Datasets/Readme.md) en la raíz del repositorio. El nombre el dataset es 'melbourne_housing-raw.csv'.

Lee el dataset usando pandas y realiza las siguientes tareas:

1. Ve a este [link](https://www.kaggle.com/anthonypino/melbourne-housing-market) para conocer más sobre el dataset y los datos que contiene.
2. Explora tu dataset para entender su estructura
3. Identifica los `NaNs` en el dataset y dónde se encuentran
4. Elimina los `NaNs` de tu dataset
5. Resetea tu índice para que sea compatible con el nuevo dataset
6. Cambia los nombres de las columnas para que tengan consistencia y no haya errores ortográficos
7. Realiza agregaciones (min, man, mean, etc) de las siguientes filas para conocer mejor la distribución de tus datos:
    a) Price
    b) Distance
    c) Landsize
    
Si tienes dudas en algún momento, por favor pídele a la experta que te oriente. Todas las tareas que hay que realizar ya las hemos hecho en otros retos; puedes ir a revisar esos otros ejercicios para recordar.

¡Mucha suerte!

In [42]:
import pandas as pd
import  numpy as np

In [43]:
df = pd.read_csv("Datasets/melbourne_housing-raw.csv")

In [44]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0

In [45]:
df.shape

(19740, 21)

In [46]:
df.tail()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
19735,Windsor,201/152 Peel St,2,u,560000.0,PI,hockingstuart,29/07/2017,4.6,3181.0,...,1.0,1.0,NaN,585.0,NaN,Whittlesea,-37.67681,145.00323,Southern Metropolitan,4380.0
19736,Wollert,60 Saltlake Bvd,3,h,525300.0,S,Stockdale,29/07/2017,25.5,3750.0,...,2.0,2.0,NaN,333.0,NaN,Darebin,-37.75884,145.00264,Northern Metropolitan,2940.0
19737,Yarraville,2 Adeney St,2,h,750000.0,SP,hockingstuart,29/07/2017,6.3,3013.0,...,2.0,2.0,1999.0,199.0,140.00,Darebin,-37.75948,144.99615,Western Metropolitan,6543.0
19738,Yarraville,54 Pentland Pde,6,h,2450000.0,VB,Village,29/07/2017,6.3,3013.0,...,2.0,1.0,2011.0,238.0,118.00,Hume,-37.70322,144.88236,Western Metropolitan,6543.0
19739,Yarraville,10/127 Somerville Rd,3,t,645000.0,SP,Jas,29/07/2017,6.3,3013.0,...,1.0,1.0,1980.0,0.0,66.32,Hume,-37.69815,144.88019,Western Metropolitan,6543.0

In [47]:
df.info(all)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19740 entries, 0 to 19739
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         19740 non-null  object
 1   Address        19740 non-null  object
 2   Rooms          19740 non-null  int64
 3   Type           19740 non-null  object
 4   Price          15396 non-null  float64
 5   Method         19740 non-null  object
 6   SellerG        19740 non-null  object
 7   Date           19740 non-null  object
 8   Distance       19732 non-null  float64
 9   Postcode       19732 non-null  float64
 10  Bedroom2       15327 non-null  float64
 11  Bathroom       15327 non-null  float64
 12  Car            15327 non-null  float64
 13  Landsize       14944 non-null  float64
 14  BuildingArea   8617 non-null   float64
 15  YearBuilt      9351 non-null   float64
 16  CouncilArea    15296 non-null  object
 17  Lattitude      15448 non-null  float64
 18  Longtitude     15448 non-null  float64
 19  Regionname     19732 non-null  object
 20  Propertycount  19732 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 3.2+ MB

In [48]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [49]:
df.isna

<bound method DataFrame.isna of            Suburb               Address  Rooms Type      Price Method
0      Abbotsford         68 Studley St      2    h        NaN     SS  \
1      Abbotsford          85 Turner St      2    h  1480000.0      S
2      Abbotsford       25 Bloomburg St      2    h  1035000.0      S
3      Abbotsford    18/659 Victoria St      3    u        NaN     VB
4      Abbotsford          5 Charles St      3    h  1465000.0     SP
...           ...                   ...    ...  ...        ...    ...
19735     Windsor       201/152 Peel St      2    u   560000.0     PI
19736     Wollert       60 Saltlake Bvd      3    h   525300.0      S
19737  Yarraville           2 Adeney St      2    h   750000.0     SP
19738  Yarraville       54 Pentland Pde      6    h  2450000.0     VB
19739  Yarraville  10/127 Somerville Rd      3    t   645000.0     SP

             SellerG        Date  Distance  Postcode  ...  Bathroom  Car
0             Jellis   3/09/2016       2.5    3067.0  ...       1.0  1.0  \
1             Biggin   3/12/2016       2.5    3067.0  ...       1.0  1.0
2             Biggin   4/02/2016       2.5    3067.0  ...       1.0  0.0
3             Rounds   4/02/2016       2.5    3067.0  ...       2.0  1.0
4             Biggin   4/03/2017       2.5    3067.0  ...       2.0  0.0
...              ...         ...       ...       ...  ...       ...  ...
19735  hockingstuart  29/07/2017       4.6    3181.0  ...       1.0  1.0
19736      Stockdale  29/07/2017      25.5    3750.0  ...       2.0  2.0
19737  hockingstuart  29/07/2017       6.3    3013.0  ...       2.0  2.0
19738        Village  29/07/2017       6.3    3013.0  ...       2.0  1.0
19739            Jas  29/07/2017       6.3    3013.0  ...       1.0  1.0

       Landsize  BuildingArea  YearBuilt  CouncilArea Lattitude  Longtitude
0         126.0           NaN        NaN        Yarra -37.80140   144.99580  \
1         202.0           NaN        NaN        Yarra -37.79960   144.99840
2         156.0          79.0    1900.00        Yarra -37.80790   144.99340
3           0.0           NaN        NaN        Yarra -37.81140   145.01160
4         134.0         150.0    1900.00        Yarra -37.80930   144.99440
...         ...           ...        ...          ...       ...         ...
19735       NaN         585.0        NaN   Whittlesea -37.67681   145.00323
19736       NaN         333.0        NaN      Darebin -37.75884   145.00264
19737    1999.0         199.0     140.00      Darebin -37.75948   144.99615
19738    2011.0         238.0     118.00         Hume -37.70322   144.88236
19739    1980.0           0.0      66.32         Hume -37.69815   144.88019

                  Regionname Propertycount
0      Northern Metropolitan        4019.0
1      Northern Metropolitan        4019.0
2      Northern Metropolitan        4019.0
3      Northern Metropolitan        4019.0
4      Northern Metropolitan        4019.0
...                      ...           ...
19735  Southern Metropolitan        4380.0
19736  Northern Metropolitan        2940.0
19737   Western Metropolitan        6543.0
19738   Western Metropolitan        6543.0
19739   Western Metropolitan        6543.0

[19740 rows x 21 columns]>

In [50]:
df.isna().sum(axis=0)

Suburb               0
Address              0
Rooms                0
Type                 0
Price             4344
Method               0
SellerG              0
Date                 0
Distance             8
Postcode             8
Bedroom2          4413
Bathroom          4413
Car               4413
Landsize          4796
BuildingArea     11123
YearBuilt        10389
CouncilArea       4444
Lattitude         4292
Longtitude        4292
Regionname           8
Propertycount        8
dtype: int64

In [61]:
df.isna().sum(axis=1)

0        3
1        2
2        0
3        3
4        0
        ..
19735    2
19736    2
19737    0
19738    0
19739    0
Length: 19740, dtype: int64

In [77]:
df1 =  df.dropna(axis=1, how= 'any')

In [84]:
df2 = df.dropna( how= 'any')

In [85]:
df1.shape

(19740, 7)

In [86]:
df2.shape

(6050, 21)

In [87]:
df2.reset_index(drop=True)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.00,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
1,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.00,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
2,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.00,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
3,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.00,Yarra,-37.80240,144.99930,Northern Metropolitan,4019.0
4,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.00,Yarra,-37.80600,144.99540,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6045,Whittlesea,30 Sherwin St,3,h,601000.0,S,Ray,29/07/2017,35.5,3757.0,...,2.0,2.0,1970.0,779.0,135.00,Manningham,-37.76311,145.10494,Northern Victoria,2170.0
6046,Williamstown,87 Pasco St,3,h,1285000.0,S,Jas,29/07/2017,6.8,3016.0,...,1.0,1.0,2010.0,140.0,78.00,Whittlesea,-37.68199,145.01744,Western Metropolitan,6380.0
6047,Yarraville,2 Adeney St,2,h,750000.0,SP,hockingstuart,29/07/2017,6.3,3013.0,...,2.0,2.0,1999.0,199.0,140.00,Darebin,-37.75948,144.99615,Western Metropolitan,6543.0
6048,Yarraville,54 Pentland Pde,6,h,2450000.0,VB,Village,29/07/2017,6.3,3013.0,...,2.0,1.0,2011.0,238.0,118.00,Hume,-37.70322,144.88236,Western Metropolitan,6543.0
6049,Yarraville,10/127 Somerville Rd,3,t,645000.0,SP,Jas,29/07/2017,6.3,3013.0,...,1.0,1.0,1980.0,0.0,66.32,Hume,-37.69815,144.88019,Western Metropolitan,6543.0

In [88]:
column_name_mapping = {
    'Suburb': 'suburb',
    'Address': 'address',
    'Rooms': 'rooms',
    'Type': 'type',
    'Price': 'price',
    'Method': 'method',
    'SellerG': 'seller_g',
    'Date': 'date',
    'Distance': 'distance',
    'Postcode': 'post_code',
    'Bedroom2': 'bedrooms',
    'Bathroom': 'bathroom',
    'Car': 'car',
    'Landsize': 'land_size',
    'CouncilArea': 'council_area',
    'Lattitude': 'latitude',
    'Longtitude': 'longitude',
    'Regionname': 'region_name',
    'Propertycount': 'property_count'
}

In [95]:
df_renamed = df2.rename(columns=column_name_mapping)

df_renamed

,suburb,address,rooms,type,price,method,seller_g,date,distance,post_code,...,bathroom,car,land_size,BuildingArea,YearBuilt,council_area,latitude,longitude,region_name,property_count
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.00,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.00,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.00,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
11,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.00,Yarra,-37.80240,144.99930,Northern Metropolitan,4019.0
14,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.00,Yarra,-37.80600,144.99540,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19731,Whittlesea,30 Sherwin St,3,h,601000.0,S,Ray,29/07/2017,35.5,3757.0,...,2.0,2.0,1970.0,779.0,135.00,Manningham,-37.76311,145.10494,Northern Victoria,2170.0
19734,Williamstown,87 Pasco St,3,h,1285000.0,S,Jas,29/07/2017,6.8,3016.0,...,1.0,1.0,2010.0,140.0,78.00,Whittlesea,-37.68199,145.01744,Western Metropolitan,6380.0
19737,Yarraville,2 Adeney St,2,h,750000.0,SP,hockingstuart,29/07/2017,6.3,3013.0,...,2.0,2.0,1999.0,199.0,140.00,Darebin,-37.75948,144.99615,Western Metropolitan,6543.0
19738,Yarraville,54 Pentland Pde,6,h,2450000.0,VB,Village,29/07/2017,6.3,3013.0,...,2.0,1.0,2011.0,238.0,118.00,Hume,-37.70322,144.88236,Western Metropolitan,6543.0
19739,Yarraville,10/127 Somerville Rd,3,t,645000.0,SP,Jas,29/07/2017,6.3,3013.0,...,1.0,1.0,1980.0,0.0,66.32,Hume,-37.69815,144.88019,Western Metropolitan,6543.0

In [96]:
def  agregaciones(df,columna):
    print("suma ",df[columna].sum())
    print("Promedio ",df[columna].mean())
    print("Minimo ",df[columna].min())
    print("Maximo ",df[columna].max())

In [97]:
agregaciones(df_renamed, "price")

suma  6482696792.0
Promedio  1071520.1309090909
Minimo  131000.0
Maximo  9000000.0

In [98]:
agregaciones(df_renamed, "land_size")

suma  3364745.0
Promedio  556.1561983471074
Minimo  0.0
Maximo  37000.0

In [99]:
agregaciones(df_renamed, "distance")

suma  58441.3
Promedio  9.659719008264464
Minimo  0.0
Maximo  47.4

In [100]:
df_renamed.columns

Index(['suburb', 'address', 'rooms', 'type', 'price', 'method', 'seller_g',
       'date', 'distance', 'post_code', 'bedrooms', 'bathroom', 'car',
       'land_size', 'BuildingArea', 'YearBuilt', 'council_area', 'latitude',
       'longitude', 'region_name', 'property_count'],
      dtype='object')