In [1]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:


lista_de_numeros = []

for i in range(0, 50):
    lista_de_numeros.append(i)

print(lista_de_numeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [3]:
numero = 150

for _ in range(0, 20):

    # este proceso es independiente del loop, por eso no usamos la variable del loop
    # en este caso el loop solo sirve para realizar una tarea repetidas veces

    numero = numero + 1

print(numero)

170

In [4]:
dict_1 = {
    'a': 1,
    'b': 2,
    'c': 3,
    'd': 4,
    'e': 5
}

for key in dict_1:
    print(dict_1[key])

1
2
3
4
5

*try except excepciones*

In [5]:
lista_1 = [1, 2, 3, 4, 5]

lista_1[10]

IndexError: list index out of range

In [6]:


dict_1 = {
    'a': 1,
    'b': 2,
    'c': 3,
    'd': 4
}

dict_1['z']

KeyError: 'z'

In [7]:


int("Holi")

ValueError: invalid literal for int() with base 10: 'Holi'

In [8]:


lista_2 = [1, 2, 3, 4, 5]

try:
    print(lista_2[10])
except:
    print("Ese numero esta fuera de rango")
    print("Mejor leamos este número")
    print(lista_2[2])

Ese numero esta fuera de rango
Mejor leamos este número
3

In [9]:


dict_2 = {
    'a': 1,
    'b': 2,
    'c': 3,
    'd': 4
}

try:
    print(dict_2['z'])
except:
    print("Esa llave no existe")
    print("Mejor leamos esta llave")
    print(dict_2['b'])

Esa llave no existe
Mejor leamos esta llave
2

In [10]:


try:
    print(int("Holi"))
except:
    print("Ese no es un número")
    print("Mejor vamos a imprimirlo convirtiéndolo en una lista")
    print(list("Holi"))

Ese no es un número
Mejor vamos a imprimirlo convirtiéndolo en una lista
['H', 'o', 'l', 'i']

FUNCIONES CONCAT

In [11]:
import pandas as pd

In [12]:


serie_1 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
serie_2 = pd.Series([4, 5, 6], index=['d', 'f', 'e'])

In [13]:
pd.concat([serie_1, serie_2], axis=0)

a    1
b    2
c    3
d    4
f    5
e    6
dtype: int64

In [14]:
pd.concat([serie_1, serie_2], axis=1)

     0    1
a  1.0  NaN
b  2.0  NaN
c  3.0  NaN
d  NaN  4.0
f  NaN  5.0
e  NaN  6.0

In [15]:
pd.concat([serie_1, serie_2], axis=1, keys=['serie_1', 'serie_2'])

   serie_1  serie_2
a      1.0      NaN
b      2.0      NaN
c      3.0      NaN
d      NaN      4.0
f      NaN      5.0
e      NaN      6.0

In [16]:
serie_3 = pd.Series([7, 8, 9], index=['a', 'b', 'c'])

pd.concat([serie_1, serie_3], axis=1, keys=['serie_1', 'serie_3'])

   serie_1  serie_3
a        1        7
b        2        8
c        3        9

In [17]:
pd.concat([serie_1, serie_3], axis=0)

a    1
b    2
c    3
a    7
b    8
c    9
dtype: int64

In [18]:
pd.concat([serie_1, serie_3], axis=0, keys=['serie_1', 'serie_3'])

serie_1  a    1
         b    2
         c    3
serie_3  a    7
         b    8
         c    9
dtype: int64

In [19]:
series_concat = pd.concat([serie_1, serie_3], axis=0, keys=['serie_1', 'serie_3'])

In [20]:
series_concat.loc['serie_1']

a    1
b    2
c    3
dtype: int64

In [21]:
series_concat.loc[('serie_1', 'b')]

2

In [22]:
series_concat

serie_1  a    1
         b    2
         c    3
serie_3  a    7
         b    8
         c    9
dtype: int64

CONCAY DATAFRAMES

In [23]:
data_1 = {
    'column_1': [1, 2, 3],
    'column_2': [4, 5, 6]
}

df_1 = pd.DataFrame(data_1, index=['a', 'b', 'c'])

df_1

   column_1  column_2
a         1         4
b         2         5
c         3         6

In [24]:
data_2 = {
    'column_1': [7, 8, 9],
    'column_2': [10, 11, 12]
}

df_2 = pd.DataFrame(data_1, index=['d', 'e', 'f'])

df_2

   column_1  column_2
d         1         4
e         2         5
f         3         6

In [25]:
pd.concat([df_1, df_2], axis=1)

   column_1  column_2  column_1  column_2
a       1.0       4.0       NaN       NaN
b       2.0       5.0       NaN       NaN
c       3.0       6.0       NaN       NaN
d       NaN       NaN       1.0       4.0
e       NaN       NaN       2.0       5.0
f       NaN       NaN       3.0       6.0

In [26]:
data_3 = {
    'column_3': [7, 8, 9],
    'column_4': [10, 11, 12]
}

df_3 = pd.DataFrame(data_3, index=['a', 'b', 'c'])

df_3

   column_3  column_4
a         7        10
b         8        11
c         9        12

In [27]:
pd.concat([df_1, df_3], axis=1)

   column_1  column_2  column_3  column_4
a         1         4         7        10
b         2         5         8        11
c         3         6         9        12

In [28]:
data_4 = {
    'column_1': [7, 8, 9],
    'column_2': [10, 11, 12]
}

df_4 = pd.DataFrame(data_4, index=['a', 'b', 'c'])

df_4

   column_1  column_2
a         7        10
b         8        11
c         9        12

In [29]:
pd.concat([df_1, df_4], axis=0)

   column_1  column_2
a         1         4
b         2         5
c         3         6
a         7        10
b         8        11
c         9        12

In [30]:
df_concat = pd.concat([df_1, df_4], axis=0, keys=['df_1', 'df_4'])

df_concat

        column_1  column_2
df_1 a         1         4
     b         2         5
     c         3         6
df_4 a         7        10
     b         8        11
     c         9        12

In [31]:
df_concat.loc['df_1']

   column_1  column_2
a         1         4
b         2         5
c         3         6

In [32]:
df_concat.loc[('df_1', 'b')]

column_1    2
column_2    5
Name: (df_1, b), dtype: int64

In [33]:
pd.concat([df_1, df_2, df_3, df_4], axis=1)

,column_1,column_2,column_1,column_2,column_3,column_4,column_1,column_2
a,1.0,4.0,NaN,NaN,7.0,10.0,7.0,10.0
b,2.0,5.0,NaN,NaN,8.0,11.0,8.0,11.0
c,3.0,6.0,NaN,NaN,9.0,12.0,9.0,12.0
d,NaN,NaN,1.0,4.0,NaN,NaN,NaN,NaN
e,NaN,NaN,2.0,5.0,NaN,NaN,NaN,NaN
f,NaN,NaN,3.0,6.0,NaN,NaN,NaN,NaN

AUTOMATIZANDO PETICIONES

In [34]:
import pandas as pd
import requests
import time

In [35]:
endpoint = 'https://api.nasa.gov/neo/rest/v1/neo/browse/'
payload = {'api_key': 'D1YdjLMNeaHqLaRt16lkRL26WsiRaE4JKKZRWh9N'}

In [36]:
dict_datos = {}

for i in range(0, 10):

    try:
        time.sleep(5)
        r = requests.get(endpoint, params=payload, timeout=5)

        if r.status_code == 200:
            json = r.json()

            data = json['near_earth_objects']
            dict_datos[i] = data

            new_link = json['links']['next']
            endpoint = new_link
    except:
        continue

In [37]:
for key in dict_datos:
    normalized = pd.json_normalize(dict_datos[key])
    df = pd.DataFrame.from_dict(normalized)
    dict_datos[key] = df

In [38]:


lista_de_dataframes = []

for key in dict_datos:
    lista_de_dataframes.append(dict_datos[key])

In [39]:
df_completo = pd.concat(lista_de_dataframes, axis=0).reset_index(drop=True)

In [40]:
df_completo

,id,neo_reference_id,name,name_limited,designation,nasa_jpl_url,absolute_magnitude_h,is_potentially_hazardous_asteroid,close_approach_data,is_sentry_object,...,orbital_data.perihelion_distance,orbital_data.perihelion_argument,orbital_data.aphelion_distance,orbital_data.perihelion_time,orbital_data.mean_anomaly,orbital_data.mean_motion,orbital_data.equinox,orbital_data.orbit_class.orbit_class_type,orbital_data.orbit_class.orbit_class_description,orbital_data.orbit_class.orbit_class_range
0,2000433,2000433,433 Eros (A898 PA),Eros,433,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2000433,10.31,False,"[{'close_approach_date': '1900-12-27', 'close_...",False,...,1.133284372081002,178.9269951795186,1.782973900121676,2459802.601698595905,110.7776526746434,.5597706088868498,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
1,2000719,2000719,719 Albert (A911 TB),Albert,719,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2000719,15.59,False,"[{'close_approach_date': '1909-08-21', 'close_...",False,...,1.194521858788897,156.2503681890173,4.079828796226027,2459956.023234763085,10.23596428095426,.2301418330768929,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
2,2000887,2000887,887 Alinda (A918 AA),Alinda,887,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2000887,13.83,False,"[{'close_approach_date': '1910-01-04', 'close_...",False,...,1.061321201915153,350.4750171333043,3.883609285276582,2460678.792844005586,188.0405623183154,.2535179888765987,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
3,2001036,2001036,1036 Ganymed (A924 UB),Ganymed,1036,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2001036,9.22,False,"[{'close_approach_date': '1910-02-25', 'close_...",False,...,1.244963114186642,132.4678967189769,4.086971560491093,2460569.530751926612,231.1579652145581,.2264236763113618,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
4,2001221,2001221,1221 Amor (1932 EA1),Amor,1221,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2001221,17.38,False,"[{'close_approach_date': '1900-03-08', 'close_...",False,...,1.082508630279756,26.63044254343605,2.755083241500687,2459867.321948764327,49.38482790190183,.3708180698222572,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2017511,2017511,17511 (1992 QN),NaN,17511,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2017511,17.32,False,"[{'close_approach_date': '1900-12-11', 'close_...",False,...,.762714214965997,202.4152332506184,1.6163918030349,2460112.186529382472,275.1544303842288,.7596759437766764,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...
196,2018106,2018106,18106 Blume (2000 NX3),Blume,18106,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2018106,17.86,False,"[{'close_approach_date': '1904-08-28', 'close_...",False,...,1.192706113366379,234.99881043329,3.695369039796369,2460164.304788001639,317.7459007890413,.2579539934482001,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
197,2018109,2018109,18109 (2000 NG11),NaN,18109,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2018109,17.20,False,"[{'close_approach_date': '1902-10-30', 'close_...",False,...,1.189027722415369,319.2676184468084,2.572956855482577,2460293.109174843337,248.207803172704,.382052944468162,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
198,2018172,2018172,18172 (2000 QL7),NaN,18172,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2018172,15.71,False,"[{'close_approach_date': '1913-11-01', 'close_...",False,...,1.185177594694943,100.6968697255064,3.664108904327775,2460208.125216411387,305.7983633375924,.2610551723881788,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
199,2018736,2018736,18736 (1998 NU),NaN,18736,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2018736,15.99,False,"[{'close_approach_date': '1918-04-01', 'close_...",False,...,1.1968397352371,222.9574302286984,3.50382548885583,2459870.950154426823,35.43618689233978,.2735332237221647,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU

In [41]:
df_completo.to_csv('../Datasets/near_earth_objects-raw.csv')